<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Scott Maclure's CV</title>

	</head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//bootswatch.com/superhero/bootstrap.min.css">

	<!-- TODO Move into SCSS. -->
	<style type="text/css">
		.container-fluid {
			max-width: 900px;
		}
		.spacer {
	    	margin-bottom: 1em;
		}
		.workItem__company {
			font-weight: bold;
		}
		.workItem__highlights {
			margin-top: 0.5em;
		}
		.workItem__position {
			font-weight: bold;
		}
		.highlights__title {
			font-weight: bold;
		}
	</style>

	<body>

		{{reactHtml}}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- TODO app bundle.js, from browserify. -->

	</body>

</html>

